@import 'color';
@import 'typography';
@import 'mixin';

.viewport {
  min-height: 100vh;
}
.about {
  @include flex(column);
  background-color: $deep-gray;
  header {
    padding: 0;
  }
  p {
    padding: 2rem;
  }
}

.headshot {
  align-self: flex-end;
  margin: 0 0 auto auto;
  position: relative;
  // top: 0;
  // right: 0;
  // padding: 2rem;
  width: 50%;
  max-width: 320px;

  img {
    display: block;
    @include size(100%, auto);
  }
  &::after {
    content: url('/static/motif-bottom.svg');
    display: block;
    position: absolute;
    bottom: -4px;
    left: -1px;
    @include size(100%, auto);
  }
}

.bio {
  color: $mute;
  font-size: 1.25rem;
}

.quote {
  @include flex(column);
  padding: 2rem;
  justify-content: center;

  blockquote {
    margin: 1rem 0;
    font-weight: 100;
    font-size: 3rem;
    color: $deep-gray;
  }
  cite {
    display: block;
    margin: 1rem 0;

    font-family: $baskerville;
    font-weight: 100;
    font-size: 1.5rem;
    font-style: italic;
    color: inherit;
    text-align: right;
  }
}

.inspiration {
  h2 {
    margin: 1rem 0;
  }
  padding: 2rem;

  .designer {
    margin: 2rem 0;
    h3 {
      font-family: $futura;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: capitalize;
    }
    a {
      text-decoration: underline;
      // text-decoration-color: $med-gray;
      :hover {
        color: $orange;
        // text-decoration-color: $orange;
      }
    }
  }
}
