@import 'reset';
@import 'color';
@import 'typography';

body {
  background-color: $mute;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: $orange;
}

.mute-bg {
  background-color: $mute;
}

.logo {
  object-fit: contain;
  width: auto;
  height: 100%;
}
