@import 'color';
@import 'typography';
@import 'mixin';

.footer {
  :not(.quote) {
    z-index: 1;
  }
  @include flex(column);
  align-items: center;
  justify-content: space-between;

  position: relative;
  z-index: 0;

  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  overflow: hidden;

  color: $mute;
  background-color: $deep-gray;
  section {
    margin: 2rem 0;
  }
  .logo {
    // z-index: 1;
    width: 25%;
    margin: 2rem 0;
    @media screen and (min-width: 500px) {
      max-width: 10rem;
    }
  }

  .quote {
    display: none;
  }
  .link {
    &[href*='design@mannyikomi.com'] {
      //href *=containing selector
      font-size: 1.5rem;
    }
    &.inline {
      text-decoration: underline;
      &:hover {
        color: $orange;
      }
    }
  }
}

section.social {
  z-index: 1;
  @include flex(column);
  width: 75%;
  text-align: center;

  @media screen and (min-width: 500px) {
    max-width: 320px;
  }
  .icons {
    align-items: center;
    justify-content: space-around;
    @include flex(row);
  }
  .social.link {
    margin: 1rem;
    display: block;
    max-width: 3rem;
    min-height: 2rem;
  }
  .social.logo {
    @include size(100%);
    margin: auto;
  }
}

section.code {
  text-align: center;
}

.copyright {
  color: $med-gray;
  font-size: 1rem;
}

@supports (display: grid) {
  @media screen and (min-width: 700px) {
    .footer {
      padding: 4rem;
      display: grid;
      grid-template-areas:
        'logo social'
        'code quote';
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      justify-content: stretch;
      .logo {
        grid-area: logo;
        width: 8rem;
        margin: auto;
      }
      .code {
        grid-area: code;
      }
      .social {
        grid-area: social;
        align-self: center;
        margin: auto;
        width: auto;
      }
      .copyright {
        grid-area: quote;
        align-self: flex-end;
        text-align: right;
      }
      .quote {
        grid-area: quote;
        display: initial;
        padding: 0;
        // pointer-events: none;
        // position: absolute;

        opacity: 0.5;
        z-index: 0;

        // font-family: $baskerville;
        color: $med-gray;

        blockquote {
          // transform: rotate(-12deg);
          min-width: 10rem;
          max-width: 40rem;
          margin: auto;
          color: $med-gray;
          text-align: right;
          // font-size: 5rem;
          // text-transform: lowercase;
          line-height: 1.25;
        }
      }
    }
  }
}
