@import 'base';
@import 'typography';
@import 'color';
@import 'mixin';

.portfolio {
  background-color: $deep-gray;
  width: 100%;
  padding: 2rem;
}

@supports (display: grid) {
  @media screen and (min-width: 700px) {
    .portfolio {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4rem;
      grid-auto-flow: row;
    }
  }
}
