@import 'base';
@import 'typography';
@import 'color';
@import 'mixin';

.project.viewer {
  @include flex(column);
  align-items: center;
  background: $mute;
  // margin: 2rem;

  header {
    min-height: 50vh;
    text-align: center;
    padding: 2rem;
    @media screen and (min-width: 700px) {
      padding: 4rem;
    }
  }
  h1 {
    font-family: $futura;
    font-weight: 500;
    text-transform: initial;
    font-size: 2rem;
    // @media screen and (min-width: 700px) {
    //   font-size: 3rem;
    // }
  }
  h2 {
    font-family: $baskerville;
    text-transform: initial;
    font-style: italic;
    font-size: 1.5rem;
  }

  main.modules {
    margin: 2rem 0;
    background-color: $deep-gray;
    padding: 0 2rem;

    div.offset {
      position: relative;
      top: -25vh;
      max-width: 30rem;
    }

    .module {
      margin: 4rem 0;
      box-shadow: -0.5rem 0.5rem 0.5rem 0px hsla(0, 0%, 0%, 0.85);
    }

    .module.image {
      width: 100%;
      img {
        object-fit: contain;
        @include size(100%);
      }
    }
  }
}
