@import 'typography';
@import 'color';
@import 'mixin';

.gallery {
  background-color: $deep-gray;
  width: 100%;
  padding: 2rem;
}

.aspect {
  height: 0;
  overflow: hidden;
  padding-bottom: 100% * 17 / 22;
}

.project .cover {
  display: block;
  @include size(100%);
  object-fit: cover;
}

.project {
  &.preview {
    position: relative;

    margin-bottom: 4rem;
    width: 100%;

    box-shadow: -0.5rem 0.5rem 0.5rem 0px rgba(38, 38, 38, 0.2);
    .link {
      display: block;
    }
  }
  .overlay {
    @include overlay();
    background-color: $orange;
    opacity: 1;
    mix-blend-mode: color;

    & + .children {
      @include flex(column);

      justify-content: flex-end;
      padding: 1rem;
      ::before {
        content: url('/static/motif-gallery.svg');

        position: absolute;
        top: -1px;
        right: -1px;

        @include size(66%, auto);
      }
      background: red;
    }
  }

  .title {
    font-family: $futura;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-transform: capitalize;
  }
  .subtitle {
    font-family: $baskerville;
    font-style: italic;
    font-size: 1rem;
    color: white;
  }
}
