@import 'typography';
@import 'color';

* {
  box-sizing: border-box;
}

@mixin bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin size($width, $height: auto) {
  width: $width;
  height: $height;
}

@mixin overlay {
  // fills parent with it's assigned element
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
