.dock-header {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 100vw;
  padding: 0.5rem;

  background-color: var(--orange);
}

.dock-header .logo {
  display: block;
  height: 2rem;
}
