.project-preview figcaption {
  /* padding: 1rem; */
}

.project-link {
  display: block;
}
.project-cover {
  width: 100%;
  max-height: 100vw;
  object-fit: cover;
  object-position: top;
}

.project-title {
  margin-bottom: 0.5rem;
}

.project-cover:hover {
  filter: grayscale(100%);
}

.project-date {
  font-family: var(--futura);
  font-size: 1rem;
}
