:root {
  --sans-type: 'Fira Sans', -apple-system, sans-serif;
  --code-type: 'Fira Code', monospace;
  --primary: #00234D;
  --secondary: #FFD44A;
  --tertiary: #2A8083;
  --max-text-length: 72ch;
  --max-view-length: 80rem; // about 1280px
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Fira Sans', -apple-system, sans-serif;
  color: var(--primary);
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.75rem;
}

h3{
  font-size: 1.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', -apple-system, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--sans-type);
  font-weight: 300;
}