@use './Mixin.scss';

.main {
  min-height: 100vh;
}

.photo {
  composes: container from './Layout.module.scss';
  grid-column: 1/3;
  align-self: end;

  @include Mixin.onTabletMedia {
    grid-column: 1 / 3;
  }
  
  @include Mixin.onDesktopMedia {
    grid-column: 3 / 5;
  }
  
}

.intro {
  composes: container from './Layout.module.scss';
  align-self: start;
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  
  @include Mixin.onTabletMedia {
    grid-column: 3 / 8;
  }
  
  @include Mixin.onDesktopMedia {
    grid-column: 5 / 11;
    
  }
}

.title {
  color: var(--primary);
  font-family: 'Fira Code';
  font-weight: 300;
  font-size: 2rem;

  .keyword {
    color: var(--tertiary);
  }
}

.about{
  composes: intro;
}


