
.main {
  min-height: 100vh;
}

.intro {
    color: var(--primary);
    font-family: 'Fira Code';
    font-weight: 300;
    font-size: 2rem;
    
    .keyword {
      color: var(--tertiary);
    }
} 