$desktop-viewport: 80rem;// about 1280px
$tablet-viewport: 40rem;// about 640px

.gridLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: min-content;
  @media screen and (min-width: $tablet-viewport) {
    grid-template-columns: repeat(8, 1fr);
  }
  @media screen and (min-width: $desktop-viewport) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.maxTypeWidth{
  max-width: var(--max-text-length)
}

.maxViewWidth{
  max-width: var(--max-view-length)
}

.flexCol{
  display: flex;
  flex-direction: column;
}

.container {
  composes: maxViewWidth flexCol;

  position: relative;
  width: 100%;
  align-items: flex-start;
  padding: 0 1rem;
}

.height100vh {
  min-height: 100vh;
}
.section{
  composes: gridLayout height100vh;
  min-height: 100vh;
  width: 100%;
}