@use './_vars';

.gridColumns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (min-width: vars.$tablet-viewport) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  
  @media screen and (min-width: vars.$desktop-viewport) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.maxTypeWidth{
  max-width: var(--max-text-length)
}

.maxViewWidth{
  max-width: var(--max-view-length)
}

.flexCol{
  display: flex;
  flex-direction: column;
}

.container {
  composes: maxViewWidth flexCol;

  position: relative;
  width: 100%;
  align-items: flex-start;
  padding: 0 1rem;
}

.height100vh {
  min-height: 100vh;
}

.section{
  composes: gridColumns height100vh;
  min-height: 100vh;
  width: 100%;
}