.link {
  composes: CODE_TYPE from "./typography.module.scss";
  display: inline;
  color: var(--primary);
  
  
  font-size: inherit;
  font-weight: inherit;
  text-decoration: underline;
  &:hover{
    
    color: var(--tertiary);
}
}